@model List<Entities.DTOs.User.UserDetailDTO>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<h1>Kullanıcılar</h1>
<a class="btn btn-primary mb-3" asp-action="Add">Kullanıcı Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>User Name</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>Birth Date</td>
            <td>Email</td>
            <td>Address</td>
            <td>Transactions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Gender</td>
                <td>@item.DateOfBirth.ToString("d")</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="badge badge-info">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
